@media (max-width:760px) {
    nav{flex-direction: column; gap: 10px;}
    nav a {display: block; max-width: 100%;}
}            

 nav{background-color: #cb4b4b; 
            padding: 10px;
            margin-bottom: 30px;
            font-size: 20px;
        }
nav a:hover{background-color: #c4dff0}
nav a:link{color: #ffffff}
nav a:hover {color: #3368d3}
nav a:visited {color:#5521e5}

footer{background-color: #cb4b4b; 
            padding: 10px;
            margin-bottom: 30px;
        }
body {background-color: #d6d5d4;}


h1, h2 {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}