h1 {color: #7115C1;
            padding: 1em 0em 1em 0em;
            margin: 1em; 

     }
            
.skillstable{
    margin: 0 auto;
}
.skillsimage {
    display: flex;
    justify-content: center; /* horizontal centering */
}
            body {background-color: #c4c2c1;
            color: #66BBF0;}
            nav{background-color: #704870; 
            padding: 10px;
            margin-bottom: 30px;
        }
            nav a:hover{background-color: #c4dff0}
            nav a:link{color: #ffffff}
            nav a:hover {color: #9727c7}
            nav a:visited {color:#d900ff}
@media (max-width:760px) {
    nav{flex-direction: column gap: 10px;}
    nav a {display: block; max-width: 100%;}
    .pipes {display: none;}
}            

body {font-size: 1rem;}

h1 {font-size: 2rem;}

p { font-size: 1rem;}

nav {font-size: 1.1rem;}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}